/* LAPTOP */
@media (max-width:1100px) {

    /* HEADER */
    .searchinput {
        width: 300px;
    }

    /* SECTION1 */
    .navsection {
        padding: 15px 99px;
    }

    /* SECTION2 */
    .sectionform {
        padding: 48px 150px;
    }

}

/* TABLET */
@media (max-width:800px) {

    /* HEADER */
    .searchinput {
        width: 200px;
    }

    header {
        padding: 34px 52px;
    }

    /* SECTION1 */
    .navsection {
        padding: 15px 29px;
    }

    /* SECTION2 */
    .sectionform {
        padding: 48px 70px;
    }

    /* FOOTER */
    footer {
        padding: 48px 22px;
    }

    .socialicons {
        display: flex;
        gap: 10px;
    }
}

/* PHONE */
@media (max-width:650px) {

    /* HEADER */
    header {
        padding: 34px 8px;
    }

    .searchform {
        display: none;
    }

    /* SECTION1 */
    .navlist {
        display: none;
    }

    .phonenav {
        display: flex;
        justify-content: space-between;
    }

    .navsection {
        padding: 16px 64px;
    }

    /* SECTION2 */
    .section2 {
        padding: 84px 14px;
    }

    .sectionform {
        width: 100%;
        padding: 48px 6px;
    }

    .phonewidth {
        width: 100%;
    }




/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 64px;
    gap: 40px;
}

.contact {
    display: none;
}

.phonecontacts {
    display: flex;
    gap: 14px;
}

.footerdivtitles {
    margin-bottom: 9px;
}

.contactusdiv {
    text-align: center;
}

.followusdiv {
    text-align: center;
}

}