.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E0230;
    padding: 34px 72px;
}

.logolink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95px;
    gap: 8px;
    color: #F1ACEE;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.rightsidediv {
    display: flex;
    justify-content: space-between;
    gap: 8px;

}

.logindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #F30AEA;
    width: 124px;
    height: 42px;
    padding: 8px 16px;
}

.login {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.cart {
    width: 16px;
    height: 16px;
}

.cartdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background: #F30AEA;
}

.searchicon {
    background-color: #01ACA9;
    border-radius: 0px 8px 8px 0px;
    margin-left: -10px;
    border: none;
    width: 48px;
    height: 48px;
}

.searchform {
    display: flex;
}

.searchinput {
    height: 48px;
    width: 560px;
    border-radius: 8px;
    padding-left: 16px;
}

/* SECTION1 */
.navsection {
    background-color: #01ACA9;
    padding: 15px 299px;
}

.sectionlist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.phonenav {
    display: none;
}

/* SECTION2 */
.section2 {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 1004px;
    background-image: url(../images/cover\ image.png);
    background-size: cover;
    background-position: center;
    padding: 64px 288px;
}

.sectionform {
    border-radius: 20px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    background: rgba(28, 19, 37, 0.80);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 48px 200px;
}

h1 {
    color: #FFF;
    text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 80px;
}

.inputbackground {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #B052B5;
    padding: 11px 22px;
    color: white
}

select option {
    background-color: white;
    color: black;
}

.namediv {
    display: flex;
    gap: 8px;
}

.title {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.radiodiv {
    display: flex;
    flex-direction: column;
}

.radiotext {
    color: #B052B5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.radiotext input[type="radio"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEAB5;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;
}

.radiotext input[type="radio"]:checked {
    background-color: white;
}

.checkbox {
    margin-top: 24px;
    margin-bottom: 49px;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEAB5;
    margin-right: 8px;
    cursor: pointer;
}

.checkboxdiv {
    display: flex;
}

button {
    display: flex;
    width: 100%;
    padding: 19px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F30AEA;
    color: white;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 48px 72px;
    background-color: #01ACA9;
}

.footerdivtitles {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 17px;
}

.socialicons {
    display: flex;
    gap: 24px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

.contactdiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyright {
    color: #F5E0F5;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 176.923% */
}

.phonecontacts {
    display: none;
}